.avatar{
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.dropdown-menu a:hover{
    background-color: gray !important;
}

.uploadbd{
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-h{
    background-color: #8CC63F;
}

.bdh{
    height: 1000px; 
    box-shadow: 5px 7px 20px black; 
    border-radius: 5px;
}

@media screen and (max-width:1024px){
    .bdh{
        height: 400px;
    }
}